@charset "ISO-8859-1";
a { text-decoration: none !important; }
ul { list-style-type: none; padding: 0; }
.not-margin{margin: 0px;}

.bg-fondo{ background-color: #f1f4f7;}
.bg-white{ background-color: #ffffff;}

.p-section{ padding: 70px 0px;}