@charset "ISO-8859-1";
.cd-title-form h5{
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 25px;
	color: #000000;
}
.txtinput{
	background-color: #f3f4f4 !important;
	width: 100% !important;
	padding: 10px 20px !important;
	margin-bottom: 15px !important;
	border: none !important;
	border-radius: 5px !important;
	box-shadow: none !important;
	font-family: 'Montserrat' !important;
}

input[type="text"]:hover{
	background-color: transparent !important;
	border: 1px solid #f3f4f4 !important;
}
.btn-registrar, .btn-ingresar{
	text-align: center !important;
	background-color: #b6f3e8 !important;
	border-radius: 5px !important;
	border: none !important;
	padding: 15px 60px !important;
	color: #323232 !important;
	font-family: 'Montserrat' !important;
	font-weight: 700 !important;
	display: flex !important;
	
}
.btn-registrar:hover{
	background-color: rgba(182,243,232,0.7);
}